<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Ghost 0.7.0 正式发布 | Ghost中文网</title>
    <meta name="description" content="" />
    <meta name="keywords" content="Ghost,blog,Ghost中国,Ghost博客,Ghost中文,Ghost中文文档">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="http://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./resource/css/screen.css?v=4221e47762" />

    <script>
        /*====================================================
         THEME SETTINGS & GLOBAL VARIABLES
         ====================================================*/

        //  1. Sidebar Position
        var sidebar_left = false; // Set true or flase for positioning sidebar on left
    </script>
</head>
<body class="post-template tag-about-ghost tag-release tag-ghost-0-7-ban-ben">

<!-- start header -->
<header class="main-header">
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <!-- start logo -->
            <a class="branding" href="http://www.ghostchina.com" title="Ghost 开源博客平台"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="Ghost 开源博客平台"></a>
            <!-- end logo -->
            <h2 class="text-hide">Ghost 是一个简洁、强大的写作平台。你只须专注于用文字表达你的想法就好，其余的事情就让 Ghost 来帮你处理吧。</h2>


        </div>
    </div>
</div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li role="presentation"><a href="/">首页</a></li>
                        <li role="presentation"><a href="http://wenda.ghostchina.com">论坛</a></li>
                        <li role="presentation"><a href="/ghost-cheat-sheet/">快捷手册</a></li>
                        <li role="presentation"><a href="http://docs.ghostchina.com/zh/">中文文档</a></li>
                        <li role="presentation"><a href="/download/">下载</a></li>
                        <li role="presentation"><a href="/about/">关于</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">

            <main class="col-md-8 main-content">


                <article id="92" class="post tag-about-ghost tag-release tag-ghost-0-7-ban-ben">

                    <header class="post-head">
                        <h1 class="post-title">Ghost 0.7.0 正式发布</h1>
                        <section class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2015年9月7日星期一凌晨4点31分" title="2015年9月7日星期一凌晨4点31分">2015年9月7日</time>
                        </section>
                    </header>


                    <section class="post-content">
                        <p><img src="http://static.ghostchina.com/image/2/50/0a96874d2150820509ec84099a154.png" alt="Ghost 0.7.0 后台截图" /></p>

                        <p><a href="http://www.ghostchina.com/download/">Ghost 0.7.0</a> 已经正式发布了！此版本主要对后台 UI 的重构，既包含重新设计，也包含底层功能的重大改进。0.7.0 还为即将到来的 API 做了很多铺垫工作。</p>

                        <h2 id="ghost070">Ghost 0.7.0 的主要改进</h2>

                        <ul>
                            <li><strong>[新增]</strong> 设计新后台界面</li>
                            <li><strong>[新增]</strong> 后台能够搜索博文和用户</li>
                            <li><strong>[新增]</strong> 安装流程（针对新博客）</li>
                            <li><strong>[改进]</strong> jQuery 不再包含在 <code>{{ghost_foot}}</code> 输出中</li>
                            <li><strong>[改进]</strong> 保存标签的添加顺序</li>
                            <li><strong>[改进]</strong> <code>{{foreach}}</code> 助手函数</li>
                            <li><strong>[修复]</strong> <code>{{tags}}</code> 和 <code>{{author}}</code> 不出现在用于获取前一篇/后一篇博文的助手函数中</li>
                            <li><strong>[修复]</strong> 多个涉及 RSS 链接的问题</li>
                            <li><strong>[修复]</strong> 非常早版本的升级路径</li>
                        </ul>

                        <p>可以在这里查看<a href="https://gist.github.com/ErisDS/314914b570c4233eea8c">完整的升级日志</a> 。</p>

                        <h2 id="">下载地址</h2>

                        <p><a href="http://www.ghostchina.com/download/">http://www.ghostchina.com/download/</a></p>

                        <p><strong>强烈建议大家下载并使用 <a href="http://www.ghostchina.com/download/">Ghost 0.7.0</a> 中文版完整集成包，以免 <code>npm install --production</code> 安装依赖包时被墙！</strong></p>

                        <p>如果你喜欢用英文原版？可以下载 中文集成包 和 英文原版安装包，首先解压 中文版集成包，然后再解压 英文版安装包 覆盖 中文版 即可，两个版本完全兼容，任意切换，同时还能免去安装依赖包时被墙的麻烦。</p>

                        <h2 id="">如何升级</h2>

                        <p>对于所有自己安装 Ghost 的用户，建议首先备份数据库，以免升级失败丢失数据。</p>

                        <p><strong>升级步骤：</strong></p>

                        <ol>
                            <li>首先 <a href="https://ghost.org/download/">下载 Ghost 0.7.0</a> ，然后将其加压到一个新目录（千万不要直接覆盖老版本！）  </li>
                            <li>进入新版本所在目录，复制 <code>config.sample.js</code> 文件并命名为 <code>config.js</code>；然后参照前一个版本的配置文件修改新的 <code>config.js</code>，主要是配置域名、邮箱、数据库、云存储；  </li>
                            <li>将上一个版本中的 <code>contents</code> 目录整个复制过来，覆盖即可。主要是主题和图片。  </li>
                            <li>执行 <code>npm install --production</code> 安装所有依赖包。如果你使用的是中文版完整安装包的话无需这一步操作了！  </li>
                            <li>将老版本的 Ghost 关闭，启动新版本。检查一下是否有错误提示。  </li>
                            <li>启动浏览器，打开你的网站。如果你是全新安装的话，就会看到安装界面，一步步来就行了。如果你是从老版本升级的话，直接就进入你的网站了，你可以进后台看看新后台界面吧。</li>
                        </ol>

                        <blockquote>
                            <p>注意：在第三步执行 <code>npm install --production</code> 时，可能会因为墙的原因导致安装失败，建议下载中文完整版安装包。如果你不希望使用中文版的话可以用英文原版直接覆盖中文版，这样就能省去安装依赖包了。</p>
                        </blockquote>

                        <p>提示：如果你没有随着 Ghost 版本逐个升级的话也没关系，凡是 0.4.2 版本之后都可以升级到最新版。</p>

                        <h2 id="">详细说明</h2>

                        <p>从上一个版本到现在，总计有 585 个修改，主要是围绕后台界面的。我们还将 Sass 替换为了 Myth（Sass 和 Myth 都是 CSS 预处理语言+工具）。</p>

                        <h3 id="api">主题 API 的变化</h3>

                        <p>此版本包含了主题 API 的多个改进。最重要的是 jQuery 链接 <strong>不再</strong> 通过 <code>{{ghost_foot}}</code> 助手输出了。详细说明请参考这里 <a href="http://www.ghostchina.com/no-more-jquery-in-ghost_foot-helper-of-ghost-0-7/">Ghost 0.7 中 {{ghost_foot}} 助手函数将不再输出 jQuery</a> 。简短来说，如果你是从老版本升级的话，对你没有影响，如果你自己开发 Ghost 主题的话，需要对主题做相应修改。</p>

                        <blockquote>
                            <p>对于一直在使用 Ghost 中文网所维护的中文版的用户：我们从 0.5.9 版本开始为 Ghost 中文版添加了一个 <code>jquery=false</code> 的参数用于<a href="http://www.ghostchina.com/disable-jquery-link-in-ghost_foot-helper/">抑制 jQuery 的输出</a>，如果你使用了这个参数，丝毫没有影响。</p>
                        </blockquote>

                        <p><code>{{next_post}}</code> 和 <code>{{prev_post}}</code> 助手能够正确输出 <code>{{author}}</code> 和 <code>{{tags}}</code> 了。<code>{{foreach}}</code> 助手也被升级并支持块级参数了，就像 Handlebars 内置的 <code>{{each}}</code> 助手一样，并且还支持 <code>@number</code> 变量。最后，我们还升级了 <code>{{tags}}</code> 助手，现在可以按照添加标签时的顺序原样输出标签了。这些改变将来与 <code>{{#get}}</code> 助手联合使用时能够实现更多功能，但是不是道什么时候发布下一个版本，期待吧！</p>

                        <p>请参考 <a href="http://themes.ghost.org/docs/changelog">主题 API 文档</a> 了解更详细的内容。涉及主题相关的文档正在被频繁更新，会有更多详细用法和实例给出来的。</p>

                        <p>如果你在苦等 <code>{{#get}}</code>助手，你可以帮我们测试并提交反馈，好让它尽快发布。详细说明在 <a href="https://github.com/TryGhost/Ghost/pull/5608">这里</a>，你还可以加入 <a href="https://ghost.org/slack">slack</a> 上的 #themes 频道答疑解惑。</p>

                        <h2 id="">致谢</h2>

                        <p>This release was lovingly crafted by John O'Nolan, Hannah Wolfe, Kevin Ansfield, cobbspur, Austin Burdine, Jason Williams, Fabian Becker, Sebastian Gierlinger, John O'Mahoney, Matt Enlow, Alex Kleissner, Joe Wegner, Kowsheek Mahmood, Rem Zolotykh, Robert Jackson, Maurice Williams, Łukasz Kliś, Michael Auer, Nazar Gargol, Rafael Corrêa Gomes, hwdsl2, Roy van Kaathoven, Samuel Goodwin, BlueHatbRit, Sem, Augustus Yuan, Joe Cannatti, David Balderston, hoxoa, Clay Diffrient and Chris Maddox.</p>
                    </section>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>, <a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>
                        </div>

                        <div class="pull-right share">
                            <div class="bdsharebuttonbox share-icons">
                                <a href="#" class="bds_more" data-cmd="more"></a>
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            </div>
                        </div>
                    </footer>

                </article>

                <div class="prev-next-wrap clearfix">
                    <div class="col-md-6 text-left">
                        <a class="btn btn-default" href="/ghost-0-7-going-to-be-released-lets-preview/"><i class="fa fa-angle-left fa-fw"></i> Ghost 0.7 即将发布，高清大图提前看</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-default" href="/ghost-0-7-0-released/">Ghost 0.7.0 正式发布 <i class="fa fa-angle-right fa-fw"></i></a>
                    </div>
                </div>


            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">社区</h4>
                    <div class="content community">
                        <p>QQ群：277327792</p>
                        <p><a href="http://wenda.ghostchina.com/" title="Ghost中文网问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a></p>
                        <p><a href="http://weibo.com/ghostchinacom" title="Ghost中文网官方微博" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方微博'])"><i class="fa fa-weibo"></i> 官方微博</a></p>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <div class="widget">
                    <h4 class="title">下载 Ghost</h4>
                    <div class="content download">
                        <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">Ghost 中文版（0.6.0）</a>
                    </div>
                </div>
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="/tag/about-ghost/">Ghost</a>
                        <a href="/tag/release/">新版本发布</a>
                        <a href="/tag/javascript/">JavaScript</a>
                        <a href="/tag/promise/">Promise</a>
                        <a href="/tag/zhuti/">主题</a>
                        <a href="/tag/mysql/">MySQL</a>
                        <a href="/tag/nodejs/">Node.js</a>
                        <a href="/tag/ghost-in-depth/">深度玩转 Ghost</a>
                        <a href="/tag/ubuntu/">Ubuntu</a>
                        <a href="/tag/aliyun-ecs/">阿里云服务器</a>
                        <a href="/tag/nginx/">Nginx</a>
                        <a href="/tag/bae/">BAE</a>
                        <a href="/tag/theme/">Theme</a>
                        <a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>
                        <a href="/tag/zhu-shou-han-shu/">助手函数</a>
                        <a href="/tag/customize-page/">自定义页面</a>
                        <a href="/tag/static-page/">静态页面</a>
                        <a href="/tag/upload/">上传</a>


                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->
            </aside>
        </div>
    </div>
</section>

<footer class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://xybk.net/">JustShow官方网站</a></span> |
                <span>模板仿自GhostChina@王赛</span>
            </div>
        </div>
    </div>
</footer>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/8.5/highlight.min.js"></script>
<script src="http://cdn.bootcss.com/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="./resource/js/main.js?v=4221e47762"></script>

<script>
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>

</body>
</html>
