<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title><%=blog.name%> - <%=blog.title%></title>
    <meta name="description" content="<%=blog.description%>" />
    <meta name="keywords" content="<%=blog.keywords%>">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="http://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/resource/css/screen.css?v=4221e47762" />

    <script>
        /*====================================================
         THEME SETTINGS & GLOBAL VARIABLES
         ====================================================*/

        //  1. Sidebar Position
        var sidebar_left = false; // Set true or flase for positioning sidebar on left
    </script>
</head>
<body class="paged archive-template">

<!-- start header -->
<header class="main-header">
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <!-- start logo -->
            <a class="branding" href="http://www.ghostchina.com" title="Ghost 开源博客平台"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="Ghost 开源博客平台"></a>
            <!-- end logo -->
            <h2 class="text-hide">Ghost 是一个简洁、强大的写作平台。你只须专注于用文字表达你的想法就好，其余的事情就让 Ghost 来帮你处理吧。</h2>


        </div>
    </div>
</div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li role="presentation"><a href="/">首页</a></li>
                        <li role="presentation"><a href="http://wenda.ghostchina.com">论坛</a></li>
                        <li role="presentation"><a href="/ghost-cheat-sheet/">快捷手册</a></li>
                        <li role="presentation"><a href="http://docs.ghostchina.com/zh/">中文文档</a></li>
                        <li role="presentation"><a href="/download/">下载</a></li>
                        <li role="presentation"><a href="/about/">关于</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">

            <main class="col-md-8 main-content">
            <%page.list.forEach(function(item, i){%>
                <article id=74 class="post featured">
                    <div class="featured" title="推荐文章">
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="post-head">
                        <h1 class="post-title"><a href="/output-tag-cloud/">为博客增加“标签云”</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<%=blog.author%></span> &bull;
                            <time class="post-date" datetime="2015年3月2日星期一下午2点46分" title="2015年3月2日星期一下午2点46分">2015年3月2日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>从 0.5.7 中文版开始我们就为 Ghost 增加了输出“标签云”的功能。下面就来看看如何使用。 介绍一下 tag_cloud 这是中文版中增加的一个 handlebars 助手（helper），根据标签所关联的文章数量进行逆排序，也就是关联文章多的先输出；支持一个 limit</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/output-tag-cloud/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/ghost-in-depth/">深度玩转 Ghost</a>, <a href="/tag/tag-cloud/">标签云</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
            <%});%>
                <article id=73 class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/next-and-previous-post-navigation/">为博文增加“前一篇”和“后一篇”导航</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<%=blog.author%></span> <i class="fa fa-calendar-o"></i>
                            <time class="post-date" datetime="2015年3月2日星期一下午2点15分" title="2015年3月2日星期一下午2点15分">2015年3月2日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 官方已经在 Ghost 0.6.0 版本中支持了此功能，增加了 {{#next_post}} 和 {{#prev_post}} 两个助手函数。请大家尽快升级到最新版本吧： http://www.ghostchina.com/download/  有图有真相，先上</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/next-and-previous-post-navigation/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-tags"></i>
                            <a href="/tag/navigation/">导航</a>
                        </div>
                        <div class="pull-right tag-list">
                            <i class="fa fa-folder-open"></i>
                            分类:<a href="/tag/navigation/">类别</a>
                        </div>
                    </footer>
                </article>


                <nav class="pagination" role="navigation">
                    <a class="newer-posts" href="/lists/<%=page.index-1%>"><i class="fa fa-angle-left"></i></a>
                    <span class="page-number">第 <%=page.index%> 页 &frasl; 共 <%=page.total%> 页</span>
                    <a class="older-posts" href="/lists/<%=page.index+1%>"><i class="fa fa-angle-right"></i></a>
                </nav>


            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start community widget -->
                <div class="widget">
                    <h4 class="title">交流</h4>
                    <div class="content community">
                        <p>QQ群：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=8a3ec64f78efa06fe83d79d841aa32d0f304c61a6a4a7b6c12695e36d446e31a">214690924</a></p>
                        <p><a href="https://github.com/spikef/justshow" target="_blank"><i class="fa fa-github"></i> GitHub仓库</a></p>
                        <p><a href="https://git.oschina.net/envirs/justshow" target="_blank"><i class="fa fa-git"></i> OSChina仓库</a></p>
                    </div>
                </div>
                <!-- end community widget -->

                <!-- start install widget -->
                <div class="widget">
                    <h4 class="title">快速安装指南</h4>
                    <div class="content download">
                        <p>第一步：<a>安装nodejs</a></p>
                        <p>第二步：打开命令行(CMD)或者终端(Terminal)</p>
                        <p>第三步：npm install justshow</p>
                    </div>
                </div>
                <!-- end install widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->
            </aside>
        </div>
    </div>
</section>

<footer class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://xybk.net/">JustShow官方网站</a></span> |
                <span>模板仿自GhostChina@王赛</span>
            </div>
        </div>
    </div>
</footer>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/8.5/highlight.min.js"></script>
<script src="http://cdn.bootcss.com/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="/resource/js/main.js?v=4221e47762"></script>

</body>
</html>
