<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{blog_title} - Page {page_index}</title>
    <meta name="description" content="{blog_description}" />
    <meta name="keywords" content="Ghost,blog,Ghost中国,Ghost博客,Ghost中文,Ghost中文文档">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="http://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./resource/css/screen.css?v=4221e47762" />

    <script>
        /*====================================================
         THEME SETTINGS & GLOBAL VARIABLES
         ====================================================*/

        //  1. Sidebar Position
        var sidebar_left = true; // Set true or flase for positioning sidebar on left

        //  2. Recent Post count
        var recent_post_count = 3;

    </script>
</head>
<body class="paged archive-template">

<!-- start header -->
<header class="main-header">
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <!-- start logo -->
            <a class="branding" href="http://www.ghostchina.com" title="Ghost 开源博客平台"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="Ghost 开源博客平台"></a>
            <!-- end logo -->
            <h2 class="text-hide">Ghost 是一个简洁、强大的写作平台。你只须专注于用文字表达你的想法就好，其余的事情就让 Ghost 来帮你处理吧。</h2>


        </div>
    </div>
</div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li role="presentation"><a href="/">首页</a></li>
                        <li role="presentation"><a href="http://wenda.ghostchina.com">论坛</a></li>
                        <li role="presentation"><a href="/ghost-cheat-sheet/">快捷手册</a></li>
                        <li role="presentation"><a href="http://docs.ghostchina.com/zh/">中文文档</a></li>
                        <li role="presentation"><a href="/download/">下载</a></li>
                        <li role="presentation"><a href="/about/">关于</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">

            <main class="col-md-8 main-content">

                <article id=74 class="post tag-about-ghost tag-ghost-in-depth tag-tag-cloud featured">
                    <div class="featured" title="推荐文章">
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="post-head">
                        <h1 class="post-title"><a href="/output-tag-cloud/">为博客增加“标签云”</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2015年3月2日星期一下午2点46分" title="2015年3月2日星期一下午2点46分">2015年3月2日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>从 0.5.7 中文版开始我们就为 Ghost 增加了输出“标签云”的功能。下面就来看看如何使用。 介绍一下 tag_cloud 这是中文版中增加的一个 handlebars 助手（helper），根据标签所关联的文章数量进行逆排序，也就是关联文章多的先输出；支持一个 limit</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/output-tag-cloud/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/ghost-in-depth/">深度玩转 Ghost</a>, <a href="/tag/tag-cloud/">标签云</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=73 class="post tag-navigation">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/next-and-previous-post-navigation/">为博文增加“前一篇”和“后一篇”导航</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2015年3月2日星期一下午2点15分" title="2015年3月2日星期一下午2点15分">2015年3月2日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 官方已经在 Ghost 0.6.0 版本中支持了此功能，增加了 {{#next_post}} 和 {{#prev_post}} 两个助手函数。请大家尽快升级到最新版本吧： http://www.ghostchina.com/download/  有图有真相，先上</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/next-and-previous-post-navigation/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/navigation/">导航</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=72 class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-5-9-released/">Ghost 0.5.9 版本正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2015年3月2日星期一凌晨2点09分" title="2015年3月2日星期一凌晨2点09分">2015年3月2日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.5.9 已经发布啦！可以通过 GitHub、npm 和 Ghost.org 下载了。此次更新，Ghost 0.5.9 包含了“导航菜单”功能、修复了一些安全方面的问题，对很多功能进行了改进。 特别注意： Ghost 0.5.9 只兼容 Node v0.10.x 系</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-5-9-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=70 class="post tag-zhuti tag-static-page tag-customize-page">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/create-custom-page-template/">如何制作一个自定义的页面（译）</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/ivenofanta/">ivenofanta</a></span> &bull;
                            <time class="post-date" datetime="2015年2月28日星期六晚上6点54分" title="2015年2月28日星期六晚上6点54分">2015年2月28日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>在某些时候默认的模板或者主题没法满足你的要求，或者你需要的是一个完全自定义的页面的时候，通过下文你可以轻松的创建一个独立页面主题。 登陆到你的ghost后台 老规矩不多说 创建一个静态页面 假如你想建立一个叫做Contact的静态页面用来放置你的联系方式，你首先需要在后台建立一个</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/create-custom-page-template/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/zhuti/">主题</a>, <a href="/tag/static-page/">静态页面</a>, <a href="/tag/customize-page/">自定义页面</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=71 class="post tag-zhuti tag-static-page tag-customize-page">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/publish-a-static-page/">如何在ghost上发布一个静态页面(译)</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/ivenofanta/">ivenofanta</a></span> &bull;
                            <time class="post-date" datetime="2015年2月28日星期六晚上6点53分" title="2015年2月28日星期六晚上6点53分">2015年2月28日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>最近碰到自定义页面的问题为了避免大家也走弯路我翻译了一下 凑合看吧。。。 在ghost上创建一个静态页面和在上面发布帖子很类似，你要做的只是在发布帖子的基础上做一些补充。现在就让我们来尝试一下如何发布一个静态的页面。 首先进入你的后台管理页面 （怎么登陆后台大家都懂我就不翻译了。</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/publish-a-static-page/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/zhuti/">主题</a>, <a href="/tag/static-page/">静态页面</a>, <a href="/tag/customize-page/">自定义页面</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=68 class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-5-7-chinese-edition-released/">Ghost 0.5.7 中文版正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2014年12月16日星期二下午3点12分" title="2014年12月16日星期二下午3点12分">2014年12月16日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.5.7 中文版正式发布了！除了跟随英文官方版本的升级外，中文版加强了国内环境的测试，并且提供了更多针对国内用户的功能。 提供“完整安装包”下载 不止一次看到同学们在抱怨下载依赖包（npm install）时由于“墙”的原因曝出各种问题，让刚接触 Ghost 的小朋</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-5-7-chinese-edition-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=67 class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/untitled/">Ghost 0.5.7 版本正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2014年12月16日星期二下午2点49分" title="2014年12月16日星期二下午2点49分">2014年12月16日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.5.7 版本已经正式公布了，大家可以在 GitHub 、npm、 Ghost.org 和 GhostChina.com 上下载安装包。0.5.7 主要是修改了前面版本的 bug ，并对 UI 进行了一些增强。 主要变化 [新增] 写博客时因会话（session）过</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/untitled/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=66 class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-5-6-chinese-edition-released/">Ghost 0.5.6 中文版正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2014年12月8日星期一下午3点20分" title="2014年12月8日星期一下午3点20分">2014年12月8日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.5.6 英文版本于上周五已经正式发布了，中文版除了加强国内环境的测试外，我们提供了更多针对国内用户的功能。 中文版新增功能 提供“完整安装包”下载 不止一次看到同学们在抱怨下载依赖包（npm install）时由于“墙”的原因曝出各种问题，让刚接触 Ghost 的</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-5-6-chinese-edition-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=65 class="post tag-about-ghost tag-release">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-0-5-6-released/">Ghost 0.5.6 版本正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2014年12月8日星期一下午3点20分" title="2014年12月8日星期一下午3点20分">2014年12月8日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.5.6 版本已经正式公布了，大家可以在 GitHub 、npm、 Ghost.org 和 GhostChina.com 上下载安装包。0.5.6 主要是修改了前面版本的 bug ，并增加了一些新特性，例如，网站地图（Sitemap） 。 主要变化 [新增] 网站地</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-0-5-6-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=64 class="post tag-ghost-theme tag-about-ghost tag-roon-io">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-have-acquired-the-roon-io-project/">Ghost 已经收购 Roon.io 项目</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2014年12月3日星期三下午2点57分" title="2014年12月3日星期三下午2点57分">2014年12月3日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 创始人 John O'Nolan 昨天正式宣布收购 Roon.io 项目。 什么是 Roon.io Roon.io 是 Sam Soffes 和 Drew Wilson 两个人于 2003 年合作开发的一款类似 Ghost 的博客系统，也同样支持 Markdown</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-have-acquired-the-roon-io-project/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/ghost-theme/">Ghost 主题</a>, <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/roon-io/">Roon.io</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>


                <nav class="pagination" role="navigation">
                    <a class="newer-posts" href="/"><i class="fa fa-angle-left"></i></a>
                    <span class="page-number">第 2 页 &frasl; 共 8 页</span>
                    <a class="older-posts" href="/page/3/"><i class="fa fa-angle-right"></i></a>
                </nav>


            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">社区</h4>
                    <div class="content community">
                        <p>QQ群：277327792</p>
                        <p><a href="http://wenda.ghostchina.com/" title="Ghost中文网问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a></p>
                        <p><a href="http://weibo.com/ghostchinacom" title="Ghost中文网官方微博" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方微博'])"><i class="fa fa-weibo"></i> 官方微博</a></p>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <div class="widget">
                    <h4 class="title">下载 Ghost</h4>
                    <div class="content download">
                        <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">Ghost 中文版（0.6.0）</a>
                    </div>
                </div>
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->
            </aside>
        </div>
    </div>
</section>

<footer class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://www.ghostchina.com/">Ghost中文网</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> |
                <span>京公网安备11010802014853</span>
            </div>
        </div>
    </div>
</footer>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/8.5/highlight.min.js"></script>
<script src="http://cdn.bootcss.com/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="./resource/js/main.js?v=4221e47762"></script>

</body>
</html>
