<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>JustShow - 基于node构建的纯静态博客</title>
    <meta name="description" content="JustShow命令列表" />
    <meta name="keywords" content="JustShow">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.9.1/styles/xcode.min.css">
    <link rel="stylesheet" type="text/css" href="../resource/css/main.css" />

    <script>
        /*====================================================
         THEME SETTINGS & GLOBAL VARIABLES
         ====================================================*/

        //  1. Sidebar Position
        var sidebar_left = true; // Set true or flase for positioning sidebar on left
    </script>
</head>
<body class="post-template" data-spy="scroll" data-target=".navigator">

<!-- start header -->
<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><i class="fa fa-cube fa-lg"></i> 基于Node构建的纯静态博客</h1>
            </div>
        </div>
    </div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li role="presentation"><a href="../">首页</a></li>
                        <li role="presentation"><a href="../list">文章列表</a></li>
                        <li role="presentation"><a href="../views/justshowhandbook.html">快捷手册</a></li>
                        <li role="presentation"><a href="../views/aboutjustshow.html">关于JustShow</a></li>
                        <li role="presentation"><a href="../views/aboutnodeasp.html">NodeAsp框架</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">

            <main class="col-md-8 main-content">

                <article class="post">
                    <header class="post-head">
                        <h1 class="post-title text-left">快捷手册</h1>
                    </header>

                    <section class="post-content">
                        <h2 id="main-content-show-init-name">show init <name></h2>
<p>初始化一个网站。</p>
<h2 id="main-content-show-start-p-port">show start -p port</h2>
<p>启动网站服务。</p>
<h2 id="main-content-show-build">show build</h2>
<p>生成网站静态文件。</p>

                    </section>
                </article>

            </main>

            <aside class="col-md-4 hidden-xs hidden-sm sidebar">
                <!-- start widget -->
                <div class="widget" id="widget-navigator">
                    <h4 class="title">快捷手册</h4>
                    <div class="content navigator">
                        <ul class="nav nav-h2">
    <li><a href="#main-content-show-init-name">show init </a>    </li>
    <li><a href="#main-content-show-start-p-port">show start -p port</a>    </li>
    <li><a href="#main-content-show-build">show build</a>    </li>
</ul>
                    </div>
                </div>
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->
            </aside>
        </div>
    </div>
</section>

<footer class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://xybk.net/">JustShow官方网站</a></span> |
                <span>模板仿自GhostChina@王赛</span>
            </div>
        </div>
    </div>
</footer>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/8.9.1/highlight.min.js"></script>
<script src="../resource/js/highlightjs-line-numbers.js"></script>
<script src="../resource/js/main.js"></script>

</body>
</html>
